/*
Description: Style for edg portfolio.
Author: Edgar Gonzales
Author URI: https://edgarwill.github.io/
*/

/*





/*******************************************************
 *
 * 2. Custom CSS
 *
 *******************************************************/

/* Global */

body{
    font-family: 'Raleway', sans-serif;
	font-size: 12px;
	background: #FFF;
	color: #000000;
	margin: 0;
}

h2{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 25px auto;
}

i.icon{
    font-style: normal !important;
}


.section-1{
    background: url(images/bg1.jpg) top center / cover no-repeat;
    text-align: center;
}

    .section-1 h1{
        color: #fff;
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .section-1 h2{
        color: #fff;
        font-weight: 500;
    }

.section-2{
    background: url(images/bg2.jpg) top center / cover no-repeat;
    text-align: center;
    color: #fff;
}   

.skill-row{
    padding-top: 20px;
}

.section-2 .icon.fab {
    font-size: 70px;
}

.skill-col{
    text-align: left;
    padding: 15px;
}
.skill-col .col-md-3 {
    text-align: center;
}
.skill-col span{
    display: block;
    font-size: 20px;
    padding: 15px 0 0;
    font-weight: 700;
}

.skill-col .progress {
    margin: 45px auto;
}

.skill-progress-bar{
    width: 0;
    -webkit-transition: all ease-out 1.5s;
    -moz-transition: all ease-out 1.5s;
    -o-transition: all ease-out 1.5s;
    transition: all ease-out 1.5s;
    background-color: #ffb018;
    color: #222222;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 13px;
    text-transform: uppercase;
}

.animation-fired.sfor-html .skill-progress-bar{
     width: 90%;
}
.animation-fired.sfor-css .skill-progress-bar{
     width: 95%;
}
.animation-fired.sfor-js .skill-progress-bar{
     width: 85%;
}
.animation-fired.sfor-php .skill-progress-bar{
     width: 70%;
}
.animation-fired.sfor-wordpress .skill-progress-bar{
     width: 85%;
}
.animation-fired.sfor-git .skill-progress-bar{
     width: 50%;
}

.portfolio-slide{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.portfolio-1{
    background-image: url(images/portfolio-the-fiebig-team.jpg);
}
.portfolio-2{
    background-image: url(images/portfolio-team-kiwi.jpg);
}
.portfolio-3{
    background-image: url(images/portfolio-the-wiley.jpg);
}
.portfolio-4{
    background-image: url(images/portfolio-mountain-leisure.jpg);
}
.portfolio-5{
    background-image: url(images/portfolio-premiere-realty.jpg);
}